@font-face {
	font-family: "BM space A9";
	src: url("BMSPACE.TTF"), url("BMSPACE.eot"); /* IE */
}


body {
	font-family: "Helvetica", sans-serif;
	background-color: #069dff;
	text-align:center;
}

header {
	background-color:#002656;
	color: #069dff;
	padding: 1em;
}

h1, h2 {
	font-family: "BM space A9", sans-serif;
	font-weight: bold;
}

h1 {
	color: #fff;
}

label {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #002656;
}

.button {
	background-color: #002656;
	font-weight: bold;
	
}

.formError {
	color: #FFDA70;
	font-weight: bold;
}
@media screen and (min-device-width:55em) and (min-width:55em) {
	body {
		background: #069dff url("../img/background.png") no-repeat right top;
		background-size: 100% auto;
	}

	header {
		transform: rotate(-45deg);
		width:50vw;
		position: relative;
		top: 11vw;
		right: 8vw;
	}

	h1 {
		font-size: 3vw;
	}

	h2 {
		font-size: 2vw;
	}

	#passwordGenerated {
		font-size: 2vw;
	}

	.password-options {
		margin-left: 40vw;

	}
}